<div id="dashboard-root">
  <div id="toolbar-wrapper">
    <mat-toolbar>
      <div id="logo-container">
        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon aria-label="Menu Button">menu</mat-icon>
        </button>
      </div>
      <p>Ex Hub Ghana. Welcome</p>
      <span id="toolbar-span"> {{ dateTime }} </span>
      <div id="toolbar-buttons">
        <button mat-stroked-button (click)="logout()">Logout</button>
      </div>
    </mat-toolbar>
  </div>
  <div id="content-wrapper">
    <mat-sidenav-container>
      <mat-sidenav mode="side" #sideNav opened>
        <mat-list>
          <mat-list-item>
            <mat-icon>group</mat-icon>
            <a routerLink="/root-dash/organisations" routerLinkActive="active" mat-button
              >Organizations</a
            >
          </mat-list-item>
          <mat-list-item>
            <mat-icon>group_add</mat-icon>
            <a routerLink="/root-dash/add-admin" routerLinkActive="active" mat-button
              >Add Organization</a
            >
          </mat-list-item>
          <mat-list-item>
            <mat-icon>person</mat-icon>
            <a routerLink="/root-dash/users" routerLinkActive="active" mat-button>Users</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>person_add</mat-icon>
            <a routerLink="/root-dash/add-user" routerLinkActive="active" mat-button>Add User</a>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
