<div id="sell-root">
  <mat-card>
    <mat-card-title>
      Sell GHS
    </mat-card-title>
    <mat-card-content>


      <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
        <mat-step [stepControl]="custType.value === 'new'? newCustomerForm : existingCustomerForm">
          <ng-template matStepLabel>Select Customer Type</ng-template>

          <mat-form-field>
            <mat-select #custType placeholder="Select Customer Type">
              <mat-option value="new">New Customer</mat-option>
              <mat-option value="old">Existing Customer</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- New Customer Form -->
          <form *ngIf="custType.value === 'new'" [formGroup]="newCustomerForm">
            <mat-form-field>
              <mat-select #category formControlName="category" placeholder="Customer Type" required>
                <mat-option value="individual">Individual</mat-option>
                <mat-option value="org">Organisation</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input #name formControlName="name" matInput placeholder="Name" type="text">
            </mat-form-field>
            <mat-form-field>
              <mat-select #idType formControlName="idType" placeholder="ID Type" required>
                <mat-option value="PP">Passport</mat-option>
                <mat-option value="NAID">National ID</mat-option>
                <mat-option value="VID">Voters ID</mat-option>
                <mat-option value="DLIC">Drivers License</mat-option>
                <mat-option value="NHIS">National Health Insurance</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input #idNumber formControlName="idNumber" matInput placeholder="ID Number" type="text">
            </mat-form-field>
            <mat-form-field>
              <input #nationality formControlName="nationality" matInput placeholder="Nationality" type="text">
            </mat-form-field>
            <mat-form-field>
              <input #residentialAddress formControlName="residentialAddress" matInput placeholder="Residential Address"
                type="text">
            </mat-form-field>

            <div class="formOptions" align="end">
              <button mat-button (click)="newCustomerForm.reset()">Clear Form</button>
              <button mat-button (click)="createCustomer(newCustomerForm.value)">Submit</button>
            </div>
          </form>

          <!-- Existing Customer Form -->
          <form *ngIf="custType.value === 'old'" [formGroup]="existingCustomerForm">
            <mat-form-field>
              <input #code formControlName="code" matInput placeholder="Customer Code"
                type="text">
            </mat-form-field>
            <mat-form-field>
              <mat-select #idType formControlName="idType" placeholder="ID Type" required>
                <mat-option value="PP">Passport</mat-option>
                <mat-option value="NAID">National ID</mat-option>
                <mat-option value="VID">Voters ID</mat-option>
                <mat-option value="DLIC">Drivers License</mat-option>
                <mat-option value="NHIS">National Health Insurance</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input #idNumber formControlName="idNumber" matInput placeholder="ID Number" type="text">
            </mat-form-field>
            <div class="formOptions">
              <button mat-button (click)="getCustomerDetails(existingCustomerForm.value)" >Get details</button>
            </div>
          </form>

        </mat-step>

        <mat-step [stepControl]="sellGHSForm">
          <ng-template matStepLabel>Enter Transaction Details</ng-template>

          <form [formGroup]="sellGHSForm">
            <mat-form-field>
              <select formControlName="currencyPair" matNativeControl placeholder="Foreign Currency" required>
                <option *ngFor="let pair of currencyPairs" [ngValue]="pair">{{pair.counter.name}}</option>
              </select>
            </mat-form-field>
            <mat-form-field>
              <input #amount formControlName="amount" matInput placeholder="Amount" type="number">
            </mat-form-field>
            <div>
              <h3>Exchange Rate: {{sellGHSForm.get('currencyPair').value.rate }}</h3>
              <h3> To Dispense: GHS
                {{sellGHSForm.get('currencyPair').value.rate * sellGHSForm.get('amount').value | number:'1.2-2'}}
              </h3>
            </div>
            <div class="formOptions">
              <button mat-flat-button (click)="submitTransactionForm()"
                > Submit</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel></ng-template>
          <div id="resultContainer" *ngIf="thirdStepComplete">
            <p>The transaction was completed successfully</p>
            <mat-divider></mat-divider>
            <p>Receipt Number: {{transactionReport.receiptID || ''}} </p>
            <p>Transaction Time: {{transactionReport.created_at | date:'medium'}}</p>
            <p>Customer Name: {{transactionReport.customer.name || ''}}</p>
            <p>Customer Type: {{transactionReport.customer.type || ''}}</p>
            <p>Cedis Bought: GHS {{(transactionReport.currencyPair.rate * transactionReport.amount) || ''}}</p>
            <p>Currency Received: {{transactionReport.currencyPair.counter.name || ''}}</p>
            <p>Amount Received: {{transactionReport.amount || ''}}</p>
            <p>Rate: {{transactionReport.currencyPair.rate || '' }}</p>
          </div>
          <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>





    </mat-card-content>
    <!-- <mat-card-actions align="end">
      <button mat-button (click)="clearForm()">
        Clear Form
      </button>
      <button mat-button [disabled]=sellGHSForm.invalid (click)="submitForm(sellGHSForm.value)">
        Submit
      </button>
    </mat-card-actions> -->
  </mat-card>
</div>
