<div id="login-root">
  <mat-toolbar>
    <mat-toolbar-row>
      <span id="toolbarTitle">Ex Hub.</span>
      <div id="actionContainer">
        <button mat-button mat-stroked-button>
          Legal
        </button>
        <button mat-button mat-stroked-button>
            Contact
          </button>
      </div>
      <span class="horizontalFiller"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div id="loginContainer">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="accent">
          Log In
        </mat-card-title>
      </mat-card-header>

      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <mat-form-field>
            <input #emailControl formControlName="emailControl" type="email" matInput placeholder="Email">
            <mat-icon color="primary" matSuffix (click)="emailControl.value = '' ">close</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input #passControl formControlName="passControl" matInput placeholder="Password" [type]="passHide ? 'password' : 'text'">
            <mat-icon color="primary" matSuffix (click)="passHide = !passHide">{{passHide ? 'visibility_off' :
              'visibility'}}</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions align="right">
        <button mat-stroked-button (click)="login(loginForm.value)">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
