#register_admin_root {
  min-height: 100%;
  height: 100%;

  #mainContent {
      height: 100%;

      #orgForm,
      #adminForm{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-around;
          max-width: 63.33%;
      }
  }
}
