#reports_root {
  width: 61.8%;
  margin: 0 auto;
  #mainContent {
    #transReportContent, 
    #dailySalesReportContent,
    #monthlySalesReportContent {
      display: flex;
      flex-direction: column;
      .inputContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .actionContainer {
        button{
            float: right;
        }
      }
    }
  }
}
