#users_root {
  min-height: 100%;
  height: 100%;

  mat-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    #title {
      flex: 1;
    }

    #select {
      flex: 2;

      mat-form-field {
        width: 70%;
        max-width: 80%;
      }
    }

    #toolbarButtons {
      flex: 0.7;
      margin-left: 15px;

      button {
        float: right;
      }
    }
  }

  #orgSelect {
    font-size: 15px;
    margin-right: 15px;
  }


  #mainContent {
    table {
      width: 100%;

      .mat-row:hover {
        background-color: #212121;
      }
    }
  }
}
