<div id="dashboard-root">
  <div id="toolbar-wrapper">
    <mat-toolbar  color="accent">
      <div id="logo-container">
        <!-- <img src="../../../../assets/img/logo.png" alt="Reinsurance Hub"> -->
        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon aria-label="Menu Button">menu</mat-icon>
        </button>
      </div>
      <p>Ex Hub.</p>
      <span id="toolbar-span"> {{dateTime}} </span>
      <div id="toolbar-buttons">
        <button mat-stroked-button (click)="logout()">Logout</button>
      </div>
    </mat-toolbar>
  </div>
  <div id="content-wrapper">
    <mat-sidenav-container>
      <mat-sidenav mode="side" #sideNav opened>
        <mat-list>
          <mat-list-item>
            <mat-icon>folder</mat-icon>
            <a routerLink="/dashboard/records" routerLinkActive="active" mat-button>Records</a>
          </mat-list-item>
          <mat-list-item>
              <mat-icon>bar_chart</mat-icon>
              <a routerLink="/dashboard/reports" routerLinkActive="active" mat-button>Reports</a>
            </mat-list-item>
          <mat-list-item>
            <mat-icon>arrow_backward</mat-icon>
            <a routerLink="/dashboard/sell" routerLinkActive="active" mat-button>Sell GHS</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>arrow_forward</mat-icon>
            <a routerLink="/dashboard/buy" routerLinkActive="active" mat-button>Buy GHS</a>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
