<div id="buy-root">
  <mat-toolbar color="accent">
    <span id="title">Buy GHS</span>
    <span id="toolbarButtons">
      <button mat-stroked-button (click)="getCurrencies()">Refresh Rates</button>
      <button mat-stroked-button (click)="clearForm()">
          Clear Form
        </button>
        <button mat-stroked-button (click)="submitForm(buyGHSForm.value)">
          Submit
        </button>
    </span>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="buyGHSForm">
        <mat-form-field>
          <input #full_name formControlName="full_name" matInput placeholder="Customer Name" type="text">
        </mat-form-field>
        <mat-form-field>
          <select #id_type formControlName="id_type" matNativeControl placeholder="ID Type" required>
            <option value="passport">Passport</option>
            <option value="national_id">National ID</option>
            <option value="voters">Voters ID</option>
            <option value="drivers">Drivers License</option>
          </select>
        </mat-form-field>
        <mat-form-field>
          <input #id_number formControlName="id_number" matInput placeholder="ID Number" type="text">
        </mat-form-field>
        <mat-form-field>
          <input #home_country formControlName="home_country" matInput placeholder="Home Country" type="text">
        </mat-form-field>
        <mat-form-field>
          <input #residential_address formControlName="residential_address" matInput placeholder="Residential Address" type="text">
        </mat-form-field>
        <mat-form-field>
          <input #post_address formControlName="post_address" matInput placeholder="Post Address" type="text">
        </mat-form-field>
        <mat-form-field>
          <select #currency formControlName="currency" matNativeControl placeholder="Currency being sold"
            required>
            <option *ngFor="let cur of currencies" [value]="cur.code">{{cur.name}}</option>            
          </select>
        </mat-form-field>
        <mat-form-field>
          <input #amount formControlName="amount" matInput placeholder="Amount of Currency being sold"
            type="number">
        </mat-form-field>
        <div>
          <p class="formStats">- Buying Rate: {{selectedRate || 0}} </p>
          <p class="formStats">- Cedi Equivalent: {{(selectedRate * amount.value) || 0 | currency:'GHS' }}</p>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
